.navbar{
    display: flex;
    padding: 35px 55px 0px;
}

.logo{
    width: 130px;
}
.nav-items{
    margin-left: 13%;
    margin-top: 1px;
    margin-right: 5%;
    position: absolute;
    right: 0;
}
a{
    text-decoration: none;
}

.nav-links{
    list-style-type: none;
    display: inline;
    margin: 0px 18px;
    padding:9.27px 0px ;

}
