.about-container {
    position: relative;
    background:black;
    height: 300px;
    
  }
  
  .about-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 500;
    color: white;
  }
  
  .about-img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
    position: absolute;
    clip: rect(0px,1161px,298px,0px);
  }

  .about-body{
    background: #fff;
    padding: 5%;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }