.about-left{
  padding: 2.5%;
}
.about-right{
  padding: 2.5%;
} 

#about-p1{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1px;
}
#about-btn{
  border-radius: 12px;
  background-color: #4A4E69;
  color: white;
  border: none;
  padding: 9px;
 }
#about-btn-link{
  color: white;
}


@media screen and (max-width:600px){
  #about-img { 
    width: 50%;
  }

  #about-h2{
    font-size: 22px;
    font-weight: 700;
  }

  #about-p1 {
    font-size: 10px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  #about-btn {
    padding: 5px;
    font-size: 10px;
  } 
}

