.contact-container{
    padding: 7% 0% 7% 6%;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
}

.contact-img{
    height: 30px;
    width: 30px;
    position: relative;
    top: 32%;
    left: 3%;
}

#contact-item{
    border: 2px solid gray;
    margin-right: 2%;
    max-width: 30%;
}

.contact-item-1{
    position: relative;
    left: 16%;
    top: -4%;
}

@media screen and (max-width:600px){
    #contact-item{
        max-width: none;
        margin-bottom: 5%;
    }

}